apiVersion: v1
kind: Service
metadata:
  name: clinical-mysql
  namespace: default
  labels:
    app: clinical-mysql
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: clinical-mysql

