apiVersion: v1
kind: Service
metadata:
  name: clinical-service
  namespace: default
  labels:
    app: clinical-service
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: clinical-service

