apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: default
  labels:
    app: api-gateway
data:
  SPRING_PROFILES_ACTIVE: "production"
  JWT_EXPIRATION: "86400000"
  CLINICAL_SERVICE_HOST: "clinical-service"
  CLINICAL_SERVICE_PORT: "3000"
  GENOMIC_SERVICE_HOST: "genomic-service"
  GENOMIC_SERVICE_PORT: "3001"

