apiVersion: v1
kind: Service
metadata:
  name: genomic-mongodb
  namespace: default
  labels:
    app: genomic-mongodb
spec:
  type: ClusterIP
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb
  selector:
    app: genomic-mongodb

