apiVersion: v1
kind: Service
metadata:
  name: genomic-service
  namespace: default
  labels:
    app: genomic-service
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  selector:
    app: genomic-service

