apiVersion: v1
kind: Service
metadata:
  name: genomic-service
  namespace: default
  labels:
    app: genomic-service
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: genomic-service
